{%- liquid
  assign seo_title = page_title | default: shop.name

  if request.page_type == 'product'
    assign seo_title = product.title | append: ' – Comprar en Chile | ' | append: shop.name
  elsif request.page_type == 'collection'
    assign seo_title = collection.title | append: ' Premium en Chile | ' | append: shop.name
  elsif request.page_type == 'article'
    assign seo_title = article.title | append: ' | ' | append: shop.name
  elsif request.page_type == 'blog'
    assign seo_title = blog.title | append: ' | Blog BBQ Chile | ' | append: shop.name
  elsif request.page_type == 'index'
    assign seo_title = shop.name | append: ' – Hornos, Parrillas y Accesorios BBQ en Chile'
  endif
-%}
<title>
  {{- seo_title | strip_newlines | escape -}}
  {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
  {%- if current_page != 1 %} &ndash; Página {{ current_page }}{% endif -%}
</title>
